/* --------------------------------HERO-------------------------------- */
/* HERO */
#hero {
    min-height: 100vh;
    padding: 2rem;
    position: relative;

    background-color: #f1f0ea;
    color: #111;
}

/* Name */
#hero h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    opacity: 0.9;
}

/* title */
#hero h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
    opacity: 0.8;
}

/* Horizontal line in middle */
.horizontal-line {
    position: absolute; 
    top: 50%;
    left: 0%;

    width: 100%;
    height: 0.125rem; 
    background-color: #394631;
}

/* Nav */
.hero-nav {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
    position: absolute;
    top: calc(50% - 2rem);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 2rem;
}

.hero-nav a {
    text-decoration: none;
    font-size: 1rem;
    color: #283122;
}

/* Scroll-hint */
.scroll-cue {
    font-family: "Space Grotesk", sans-serif;
    position: absolute; 
    top: calc(50% + 2.5rem);
    left: 50%;
    transform: translateX(-50%);

    font-size: 0.875rem;
    opacity: 0.8;
}